.menu-fixo {
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transition: height 1s;
} 

.texto-primario{
    text-align: center;
    background-color: #fff;
    text-transform: uppercase;
    padding: 65px;
    font-size: 32px;
    font-family: Montserrat;
    font-weight: bold;
    color: #000;
    line-height: 40px;

}

.span-title{
	color: #ababab;
}

.ico-info-style{
	border: 1px solid;
    border-radius: 50%;
    color: #fff;
    width: 156px;
    font-size: 129px;
    background-color: #fed136;
    height: 156px;
    padding-top: 10px;
    text-align: center;
}


.titulo-principal{
    font-style: normal;
    font-size: 6.5rem;
    font-weight: 700;
    padding-top: 34px;
    line-height: 4.5rem;
    margin-bottom: 4rem;
}


.btn-banner{
    margin-top: 43px;
    width: 413px;
    height: 72px;
    font-size: 26px;
    border-radius: 54%;
    border-radius: 0.25rem !important;
    border-color: #fed136;
    background-color: #fed136;
    color: #fff;
    font-style: normal;
    padding-top: 13px;
    font-family: Montserrat;
    font-weight: bold;
}

.btn-banner:hover{
    color: #fff;
    background-color: #fec810;
    border-color: #fec503;;
}