.menu-fixo {
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transition: height 1s;
} 

.texto-primario{
    text-align: center;
    background-color: #fff;
    text-transform: uppercase;
    padding: 19px;
    font-size: 18px;
    font-family: serif;
    font-weight: bold;
}

.span-title{
	color: #ababab;
}