.menu-fixo {
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transition: height 1s;
} 

.texto-primario{
    text-align: center;
    background-color: #fff;
    text-transform: uppercase;
    padding: 65px;
    font-size: 32px;
    font-family: serif;
    font-weight: bold;
    color: #000;
    line-height: 40px;

}

.span-title{
	color: #ababab;
}